.collection {
    &__container {
        background-image: url("../../images/collection-background.png");
        background-repeat: no-repeat;
        background-position: center bottom 329px;
    }
    &__lists {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        padding-top: 65px;
        list-style: none;
    }

    &__items {
        text-align: center;
        width: 255px;
    }
    &__items + &__items {
        margin-left: 30px;
    }

    &__item-img {
        margin-bottom: 72px;
        margin-left: 3px;
    }
    &__item-heading {
        margin: 0;
        padding: 0;
        font-family: "Fraunces";
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin-bottom: 24px;
    }
    &__item-paragraph {
        margin: 0;
        padding: 0;
        font-family: "Barlow";
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

}

////TABLET

@media only screen and (max-width:820px) {
    .collection {
        padding-bottom: 144px;
        &__container {
            padding: 0 40px;
            background-image: url("../../images/collection-background.png");
            background-repeat: no-repeat;
            background-position: center top -4px;
            background-size: 689px 118px;
        }
        &__lists {
            display: flex;
            justify-content:space-between;
            align-items: center;
            flex-direction: column;
        }
        &__items {
            display: flex;
            align-items: center;
            width: 573px;
        }
        &__items + &__items {
            margin:0;
            padding: 0;
            margin-top: 32px;
        }
        &__item-img {
            margin: 0;
            padding: 0;
        }
        &__item-heading {
            margin-bottom: 16px;
        }
        &__item-wrapper {
            padding-bottom: 25px;
            text-align: left;
            width: 282px;
            margin-left: 35px;
        }

}
}

///MOBILE

@media only screen and (max-width:628px) {
.collection {
    &__container {
        padding: 0 24px;
        background-image: url("../images/mobile-collection.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center top;
    }
    &__lists {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
    }
    &__items {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 13px;
        width: 282px;
    }
    &__item-img {
        margin-bottom: 24px;
    }
    &__item-wrapper {
        text-align: center;
        width: 282px;
        margin: 0;
        padding: 0;
        margin-bottom: 48px;
    }
}
}