.recommendation {
    &__container {
        padding-top: 118px;
        background-image: url("../images/choose-us.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__heading {
        margin: 0;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        width: 329px;
        font-family: "Fraunces";
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    }

    &__paragraph {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 540px;
        font-family: 'Barlow';
        font-weight: 100;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 81px;
        color: #FEFCF7;
        opacity: 0.8;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 72px;
        width: 350px;
        height: 382px;
        background: #0E8784;
        border-radius: 8px;

        &:nth-child(3) {
            padding-top: 90px;
        }
    }

    &__item+&__item {
        margin-left: 30px;
    }

    &__item-img {
        margin-bottom: 67px;
    }

    &__item-wrapper {
        width: 255px;
    }

    &__item-heading {
        margin: 0;
        font-family: "Fraunces";
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin-bottom: 24px;
        text-align: center;
        color: #FFFFFF;
    }

    &__item-paragraph {
        margin: 0;
        text-align: center;
        font-family: "Barlow";
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        color: #FEFCF7;
        opacity: 0.8;
    }
}

////TABLET

@media only screen and (max-width:820px) {
    .recommendation {
        &__container {
            padding: 0 40px;
            background-image: url("../../images/tablet-chooseus.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 688px;
        }
        &__heading {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            padding-top: 56px;
            margin-bottom: 24px;
            width: 329px;
            font-family: "Fraunces";
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
        }

        &__paragraph {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            width: 540px;
            font-family: 'Barlow';
            font-weight: 100;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 70px;
            color: #FEFCF7;
            opacity: 0.8;
        }

        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding-top: 0px;
            width: 573px;
            height: 180px;
            background: #0E8784;
            border-radius: 8px;
            &:nth-child(3) {
                padding-top: 0px;
            }
        }
        &__item-wrapper {
            width: 344px;
            margin-left: 55px;
        }
        &__item+&__item {
            margin: 0;
            margin-top: 24px;
        }
        &__item-img {
            margin:0;
        }
        &__item-heading {
            margin: 0;
            font-family: "Fraunces";
            font-size: 24px;
            text-align: left;
            line-height: 32px;
            color: #333D4B;
            margin-bottom: 16px;
            color: #FFFFFF;
        }

        &__item-paragraph {
            margin: 0;
            text-align: left;
            font-family: "Barlow";
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            color: #FEFCF7;
            opacity: 0.8;
        }
    }
}


////mobile

@media only screen and (max-width:628px) {
    .recommendation {
        &__container {
            padding: 0 24px;
            background-image: url("../../images/tablet-chooseus.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 327px 902px;
        }
        &__heading {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            padding-top: 56px;
            margin-bottom: 24px;
            width: 279px;
            font-family: "Fraunces";
            font-size: 28px;
            line-height: 28px;
            text-align: center;
            color: #FEFCF7;
        }

        &__paragraph {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            width: 279px;
            font-family: 'Barlow';
            font-weight: 100;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 64px;
            color: #FEFCF7;
            opacity: 0.8;
        }
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 0px;
            width: 279px;
            height: 382px;
            background: #0E8784;
            border-radius: 8px;
            &:nth-child(3) {
                padding-top: 0px;
            }
        }
        &__item-img {
            margin-bottom: 56px;
        }
        &__item-wrapper {
            width: 255px;
            margin-left: 0px;
        }
        &__item-heading {
            margin: 0;
            font-family: "Fraunces";
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            color: #333D4B;
            margin-bottom: 16px;
            color: #FFFFFF;
        }
        &__item-paragraph {
            margin: 0;
            font-family: "Barlow";
            text-align: center;
            padding: 0 12px 0 12px;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            color: #FEFCF7;
            opacity: 0.8;
        }


    }
}